<carousel [isAnimated]="true">
    <slide *ngFor="let product of productList">
        <div #sliderItem class="sliderItem">
            <img src="{{product.pictureUrl}}" alt="" class="sliderImage">
            <div class="sliderBg"></div>
            <h3 class="sliderTitle">{{product.name}} <br> NEW <br> SEASON</h3>
            <h2 class="sliderPrice">${{product.price}}</h2>
            <a href="#product">
                <button class="buyButton">BUY NOW</button>
            </a>
        </div>
    </slide>
</carousel>

<section class="featured">
    <div class="features">
        <div class="feature">
            <img class="featureIcon" src="assets/images/sneakers/shipping.png" alt="">
            <span class="featureTitle">FREE SHIPPING</span>
            <span class="featureDescription">Free worldwide shipping on all orders.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="assets/images/sneakers/return.png" alt="">
            <span class="featureTitle">30 DAYS RETURN </span>
            <span class="featureDescription">No question return and easy refund in 14 days.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="assets/images/sneakers/gift.png" alt="">
            <span class="featureTitle">GIFT CARDS</span>
            <span class="featureDescription">Buy gift cards and use coupo code easily.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="assets/images/sneakers/contact.png" alt="">
            <span class="featureTitle">CONTACT US!</span>
            <span class="featureDescription">Keep in touch via email and support system.</span>
        </div>
    </div>

    <div class="product" id="product">
        <img src="assets/images/sneakers/air.png" alt="" class="productImg">
        <div class="productDetails">
            <h1 class="productTitle">AIR FORCE</h1>
            <h2 class="productPrice">$199</h2>
            <p class="productDesc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iure inventore quidem, expedita quia
                labore exercitationem in natus fugiat id? Quae a est minima quidem quaerat tempora tempore sit
                blanditiis.
            </p>
            <div class="colors">
                <div class="color"></div>
                <div class="color"></div>
            </div>
            
            <div class="sizes">
                <div class="size">38</div>
                <div class="size">40</div>
                <div class="size">42</div>
            </div>

            <button class="productBtn">
                BUY NOW!
            </button>
        </div>
    </div>
    <div class="gallery">
        <div class="galleryItem">
            <h1 class="galleryTitle">Be yourself</h1>
            <img class="galleryImg"
                src="https://images.pexels.com/photos/2827400/pexels-photo-2827400.jpeg?auto=compress&cs=tinysrgb&w=1600"
                alt="">
        </div>
        <div class="galleryItem">
            <img class="galleryImg"
                src="https://images.pexels.com/photos/2803158/pexels-photo-2803158.jpeg?auto=compress&cs=tinysrgb&w=1600"
                alt="">
            <h2 class="galleryTitle">Your New Life</h2>
        </div>
        <div class="galleryItem">
            <h1 class="galleryTitle">Just Do it! </h1>
            <img class="galleryImg"
                src="https://images.pexels.com/photos/1886487/pexels-photo-1886487.jpeg?auto=compress&cs=tinysrgb&w=1600"
                alt="">
        </div>
    </div>

    <div class="newSeason">
        <div class="newSeasonItem">
            <img class="nsImg"
                src="https://images.pexels.com/photos/1040427/pexels-photo-1040427.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </div>
        <div class="newSeasonItem">
            <h3 class="nsTitleSm">WINTER NEW ARRIVALS</h3>
            <h1 class="nsTitle">New Season</h1>
            <h1 class="nsTitle">New Collection</h1>
            <a routerLink="/shop">
                <button routerLink="/shop" class="nsBtn">CHOOSE YOUR STYLE</button>
            </a>
        </div>
        <div class="newSeasonItem">
            <img class="nsImg"
                src="https://images.pexels.com/photos/1552106/pexels-photo-1552106.jpeg?auto=compress&cs=tinysrgb&w=1600"
                alt="">
        </div>
    </div>
</section>

<app-footer></app-footer>