<footer>

    <div class="footerLeft">
        <div class="footerMenu">
            <h1 class="fMenuTitle">About Us</h1>
            <ul class="fMenuList">
                <li class="fListItem">Company</li>
                <li class="fListItem">Contact</li>
                <li class="fListItem">Careers</li>
                <li class="fListItem">affiliates</li>
                <li class="fListItem">Stores</li>
            </ul>
        </div>
        <div class="footerMenu">
            <h1 class="fMenuTitle">Useful Links</h1>
            <ul class="fMenuList">
                <li class="fListItem">Support</li>
                <li class="fListItem">Refund</li>
                <li class="fListItem">FAQ</li>
                <li class="fListItem">FeedBack</li>
                <li class="fListItem">Stories</li>
            </ul>
        </div>

        <div class="footerMenu">
            <h1 class="fMenuTitle">Products</h1>
            <ul class="fMenuList">
                <li class="fListItem">Air Max</li>
                <li class="fListItem">Air Jordan</li>
                <li class="fListItem">Blazer</li>
                <li class="fListItem">Crater</li>
                <li class="fListItem">Hippie</li>
            </ul>
        </div>
    </div>
    <div class="footerRight">
        <div class="fRMenu">
            <h1 class="fMenuTitle">Subscrite to out newsletter</h1>
            <div class="fMail">
                <input type="text" placeholder="your@email.com" class="fInput">
                <button class="fBtn">Join!</button>
            </div>
        </div>
        <div class="fRMenu">
            <h1 class="fMenuTitle">Follow Us</h1>
            <div class="fIcons">
                <img class="fIcon" src="assets/images/sneakers/facebook.png" alt="">
                <img class="fIcon" src="assets/images/sneakers/instagram.png" alt="">
                <img class="fIcon" src="assets/images/sneakers/twitter.png" alt="">
                <img class="fIcon" src="assets/images/sneakers/whatsapp.png" alt="">
            </div>
        </div>
        <div class="fRMenu">
            <span class="copyright">@bryanbocio. All rights reserved. 2023.</span>
        </div>
    </div>

</footer>